/* style sheet for spec.html */
body{
    background-color: rgb(27, 41, 65);
}

#navbar{
    display: flex;
    position: fixed;
    top:0px;
    right: 0px;
}

.navlinks{
    font-family: IBM Plex Mono, Arial, Helvetica, sans-serif;
    font-size: 18pt;
    display: block;
    background-color: #171715;
    border: 1px solid white;
    color: white;
    padding: 10px 1vw ;
    text-decoration: none;
}


strong{
    font-weight: bolder;
}

h1{
    font-family: IBM Plex Mono, Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

h2{
    font-family: IBM Plex Mono, Arial, Helvetica, sans-serif;
    font-size: 25pt;
}

.text{
    padding: 5%;
    line-height: 150%;
    text-indent: 4cap;
    font-size: 1vw;
}

#intro {
    display: grid;
    grid-template-columns: repeat(10, 7%);
    grid-template-rows: 15vw 1fr 3fr 1fr; 
    margin: 0px auto;
    margin-top: 0px;   
    max-width: 1280px;    
    max-height: 1000px;              
}

#intro h1{
    margin-left: 1cap;
    font-size: 42pt;
    margin-bottom: 0%;
}

#intro .text{
    padding-top: 0%;
    font-size: 12pt;
}

body{
    margin: 0px
}

.elm{
    font-family:Arial, Helvetica, sans-serif;
    overflow: visible;
}

#self{
    grid-row: 1;
    grid-column: 1/span all; 
    z-index: -1;
}

#self img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#motto{
    color: white;
    padding: 20px;
    background-color: rgb(255, 105, 0, .5);
    grid-column: 2/span 5;
    grid-row: 2/span 2;
}

#motto h1{
    font-size: 88pt;
    line-height: 130%;
    margin-left: 0px;
    margin-top: 10px;
}

#personalstate {
    background-color: #171715;
    color: white; 
    grid-row: 3/span 2;
    grid-column: 9/span 3;
}

#aboutme{
    display: flex;
    flex-direction: row;
    margin: 0vh auto;
    max-width: 1280px;
    padding: 2vw 0px;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 15pt;
}

#education{
    display: block;
    width: 35%;
    color: white;
}
#education img{
    float: left;
    padding-right: 10px;
    width: 6vw;
    height: 6vw;
}

#languages{
    margin: auto;
    display: block;
    padding: 0px 20px;
    background-color: #715AFF;
    color: white;
    width: 25%;
}

#languages .text{
    font-size: 15pt;
    text-indent: 0%;
    padding: 0%;
    margin-left: 2cap;
}

#softskills{
    display: block;
    width: 20%;
    color: white;
}

#softskills .text{
    font-size: 15pt;
    text-indent: 0%;
}

#skillsandwork{
    text-align: center;
    background-color: #FF6900;
    color: white;
    padding: 10px 0px;
}

#personalwork{
    display: grid;
    grid-template-rows: 1fr .1fr 1.2fr .15fr .4fr .1fr .3fr .1fr;
    grid-template-columns: 5fr 1.5fr .3fr 2.5fr .3fr 1.4fr .3fr 2fr 2fr 2fr 2fr 1.5fr ;
    margin: 0vh 10vw;
    padding-bottom: 5%;
    height: 50%;
}

#personalwork .text{
    text-indent:0%;
    padding: 5px 10px;
}

#personalwork h2{
    text-align: center;
}

.elm3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    overflow: visible;
}
#gamedes{
    display:block;
    color:  white;
    background-color: #4642A0;
    grid-column: 1/span 2;
    grid-row: 1 / span 4;
    z-index: -1;
}

#gamedes .gamesample{
    width: 100%;
}

.gamesample img{
    width: 100%;
    height: auto;
}

#adobe{
    display: block;
    color: white;
    background-color: #4642A0;
    grid-column: 4/ span 3; 
    grid-row: 1/ span 5;
}

#adobe img{
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}
#adobe .text{
    padding-top: 0%;
}

#animation{
    display: block;
    color: white;
    background-color: #715AFF;
    grid-column: 8/ span 4;
    grid-row: 1;
}
#animation p{
    text-align: left;
    vertical-align: middle;
}

#assets{
    display: block;
    color: white;
    background-color: #715AFF;
    grid-column: 8/ span 5;
    grid-row: 3/ span 3;
}

#collab{
    display: block;
    color:white;
    box-shadow: rgb(27, 41, 65) 0px 0px 0px 1vw;
    background-color: #4642A0;
    grid-column: 1;
    grid-row: 5/ span 5;
}

#engines{
    display: block;
    box-shadow: rgb(27, 41, 65) 0px 0px 0px 1vw;
    color: white;
    background-color: #4642A0;
    grid-column: 2/ span 3;
    grid-row: 4/span 4;
    z-index: 2;
}

#htmlandcss{
    display:block;
    color: white;
    box-shadow: rgb(27, 41, 65) 0px 0px 0px 1vw;
    background-color: #715AFF;
    grid-column: 2 / span 3;
    grid-row: 9;
}

 #personal{
    display:block;
    color: white;
    background-color: #715AFF;
    grid-column: 6/span 7;
    grid-row: 7/ span 3;
 }

 footer{
    background-color: #171715;
    color: white;
    margin: 0vw;
 }
 #contact{
    line-height: 160%;
 }
 #contact h2{
    text-align: center;
 }
 #contact ul{
    padding: 10px
 }
 #contact li{
    color: white;
    text-align: center;
    list-style-type: none;
    text-indent: 0%;
 }
 #contact a{
    color:rgb(0, 181, 236);
    text-decoration: none;
 }

 @media screen and (max-width: 1280px){
    h2{
        font-size: 32pt;
        text-align: center;
    }

    #intro{
        margin: 0px;
        grid-template-columns: repeat(14, 7%);
        grid-template-rows: 25vw 1.5fr .7fr 2fr; 
    }

    #intro h1{
        font-size: 40pt;
    }
    
    #intro .text{
        font-size: 18pt;
    }

    #motto{
        grid-column: 10/ span 5;
    }

    #motto h1{
        font-size: 64pt;
        margin-top: 0%;
    }

    #personalstate{
        grid-column: 1/span all;
        grid-row: 3/ span 2;
        z-index: -1;
    }

    .text{
        font-size: 1.5vw;
    }

    #aboutme{
        flex-direction: column;
        row-gap: 50px;
        padding: 10px 5vw;
    }

    #aboutme .text{
        line-height: 3cap;
        text-align: center;
        font-size: 24pt;
    }

    #aboutme li{
        list-style: none;
    }

    #education{
        width: 80%;
        margin: auto;
    }

    #education img{
        width: 100px;
        height: 100px;
    }

    #education .school{
        font-size: 24pt;
        margin-left: 120px;
    }

    #languages{
        width: 80%;
    }    

    #languages ul{
        margin: auto;
    }

    #softskills{
        width: 80%;
        margin: auto;
    }

    #softskills ul{
        padding: 0px;
    }

    #personalwork{
        margin: 0px 0px;
    }
}


